<template>
  <div>
    <h2 v-if="isNewProduct">Add Book Record</h2>
    <h2 v-else>Edit Book Record</h2>
    <form @submit.prevent="submitForm">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input
          class="form-control"
          type="text"
          id="name"
          v-model="renters.name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="rent_date" class="form-label">Rent Date:</label>
        <input
          class="form-control"
          type="datetime-local"
          id="rent_date"
          v-model="renters.rent_date"
          required
        />
      </div>
      <div class="mb-3" v-if="!isNewProduct">
        <label for="return_date" class="form-label">Return Date:</label>
        <input
          class="form-control"
          type="datetime-local"
          id="return_date"
          v-model="renters.return_date"
        />
      </div>
      <div class="mb-3">
        <label for="rent_purpose" class="form-label">Rent Purpose:</label>
        <input
          class="form-control"
          type="text"
          id="rent_purpose"
          v-model="renters.rent_purpose"
          required
        />
      </div>
      <div class="mb-3">
        <label for="remarks" class="form-label">remarks:</label>
        <textarea
          class="form-control"
          id="remarks"
          v-model="renters.remarks"
          required
        ></textarea>
      </div>
      <button type="submit" v-if="isNewProduct" class="btn btn-primary">
        Add Record
      </button>
      <button type="submit" v-else class="btn btn-primary">Update Record</button>
    </form>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      renters: {
        name: "",
        rent_date: "",
        return_date: "",
        rent_purpose: "",
        remarks: "",
      },
    };
  },
  computed: {
    isNewProduct() {
      return !this.$route.path.includes("edit");
    },
  },
  async created() {
    if (!this.isNewProduct) {
      const response = await axios.get(`/api/rent/${this.$route.params.id}`);
      this.renters = response.data.data;
    }
  },
  methods: {
    async submitForm() {
      try {
        if (this.isNewProduct) {
          await axios.post("/api/rent", this.renters);
        } else {
          await axios.put(`/api/rent/${this.$route.params.id}`, this.renters);
        }
        this.$router.push("/");
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
