<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Rent Purpose</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Remarks</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(rent, index) in rents" :key="rent.id">
        <td>{{ index + 1 }}</td>
        <td>{{ rent.name }}</td>
        <td>{{ rent.rent_purpose }}</td>
        <td>{{ rent.rent_date }}</td>
        <td>{{ rent.return_date }}</td>
        <td>{{ rent.remarks }}</td>
        <td>
          <div class="row gap-3">
            <router-link to="" class="p-2 col border btn btn-primary">View</router-link>
            <router-link to="" class="p-2 col border btn btn-warning">Edit</router-link>
            <button
              @click="deleteRent(rent.id)"
              class="p-2 col border btn btn-danger"
              type="button"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      rents: [],
    };
  },
  async created() {
    try {
      const response = await axios.get("/api/rent");
      this.rents = response.data;
      console.log("data", response);
    } catch (error) {
      console.error(error);
    }
  },
  methods: {
    async deleteRent(id) {
      try {
        console.log("lol");
        await axios.delete(`/api/rent/${id}`);
        this.rents = this.rents.filter((rent) => rent.id !== id);
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
